doctype html
html
	head(lang="ru")
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title KSD
		meta(name='description', content='')
		link(rel='stylesheet', href='styles/style.css')
	body
		//if lt IE 8
			p.chromeframe.
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a>
			to improve your experience.
		//[if lt IE 9]
			<script src="scripts/html5shiv.min.js"></script>
			[endif]
		.wrapper
			.header-wrapper
				header.header.clearfix
					.container
						.header__logo.col-xs-5
							a.logo__link(href="javascript:void")
								img.logo__img(src="images/logo.png" alt="logo")
						.menu-trigger.noise
								#nav-icon3
									span
									span
									span
									span
						nav.header__nav.col-xs-8.trigger-victim
							ul.h-menu
								li.h-menu__item
									a.menu__link(href="#aboutUs") О конференции
										svg.menu-img(height="100" width="100")
											polygon(points="5,5 95,25 50,90" style="fill:none;stroke-width:4")
								li.h-menu__item
									a.menu__link(href="#speekers") Спикеры
										svg.menu-img(height="100" width="100")
											polygon(points="5,5 95,25 50,90" style="fill:none;stroke-width:4")
								li.h-menu__item
									a.menu__link(href="#timetable") Расписание
										svg.menu-img(height="100" width="100")
											polygon(points="5,5 95,25 50,90" style="fill:none;stroke-width:4")
				.header__hero
					.container
						.col-xs-12
							h1.hero__title Одно из крупнейших <br> мероприятий про бизнес в Мире
							p.hero__sub-title Этот день – главная задача, где встречаются и делятся знаниями люди, заинтересованные в развитии <br> животных и машин.
				.header__btn
					.container
						button.btn.btn__btn-start_centered 
							span.btn__text Старт
			.header__organisation
				.container
					.organisation__content.col-xs-12
						span.organisation__text_bold.col-xs-12.col-md-6 Организатор конференции:
						img.organisation__img(alt="KSD oranisation" src="images/triangular-logo.png")
						span.organisation__text.col-xs-12.col-md-6.col-md-offset-6 Mauris et euismod nulla.
			section.short-description
				.menu-fixed.clearfix
							.header__logo.logo-fixed.col-xs-4
								a.logo__link.link-fixed(href="javascript:void")
									img.logo__img.img-fixed(alt="little logo" src="images/logo-fixed.png")
							.menu-trigger.noise
									#nav-icon3
										span
										span
										span
										span
							nav.header__nav.col-xs-8.trigger-victim
								ul.h-menu
									li.h-menu__item
										a.menu__link(href="#aboutUs") О конференции
											svg.menu-img(height="100" width="100")
												polygon(points="5,5 95,25 50,90" style="fill:none;stroke:white;stroke-width:4")
									li.h-menu__item
										a.menu__link(href="#speekers") Спикеры
											svg.menu-img(height="100" width="100")
												polygon(points="5,5 95,25 50,90" style="fill:none;stroke:white;stroke-width:4")
									li.h-menu__item
										a.menu__link( href="#timetable") Расписание
											svg.menu-img(height="100" width="100")
												polygon(points="5,5 95,25 50,90" style="fill:none;stroke:white;stroke-width:4")
				.container
					a.bookmark(name="aboutUs")
					.row
						.short-description__one-third.col-lg-3.col-xs-12.col-sm-4
							.one-third__header.col-xs-6
								.img__wrapper
									img.one-third__img(alt="спикеры" src="images/speeker.png")
								svg.desc-svg(height="135" width="135")
										polygon(points="5,5 130,35 40,130" style="fill:none;stroke:#f5f5f5;stroke-width:4")
							h3.one-third__text.col-xs-6 2 топ спикера<br> из Европы и США
						.short-description__one-third.col-lg-4.col-lg-offset-1.col-sm-4
							.one-third__header.col-xs-6
								.img__wrapper
									img.one-third__img(alt="потоки" src="images/double-button.png")
								svg.desc-svg(height="135" width="135")
										polygon(points="5,5 130,35 40,130" style="fill:none;stroke:#f5f5f5;stroke-width:4")
							h3.one-third__text.col-xs-6 2 потока <br> для Бизнеса и разработчиков 
						.short-description__one-third.last.col-lg-3.col-lg-offset-1.col-xs-12.col-sm-4
							.one-third__header.col-xs-6
								.img__wrapper
									img.one-third__img(alt="докладчики" src="images/orator.png")
								svg.desc-svg(height="135" width="135")
										polygon(points="5,5 130,35 40,130" style="fill:none;stroke:#f5f5f5;stroke-width:4")
							h3.one-third__text.col-xs-6 Более 15 докладчиков
			section.video
				.container
					.video__wrapper.col-lg-6
						<iframe id="videoFrame" width="100%" height="300" src="https://www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
					.video__aside.col-lg-6.col-xs-12
						p <strong>Kyiv nice to meet</strong> - Банковском счету или с миллиардами долларов. Вспоминать вашу репутацию себя по карьерной лестнице, чтобы ваша. Добра на тех, кто прослыл победителем, но всегда готовы пойти. Инвестировать её последствия долгое время после. Деньги инвесторам и изворотливости, которые непременно выйдут. Конечно, никто не так и сплетнями, прежде чем обнародуются перед публикой дальше. Достижений вашей жизни в изменить жизнь других людей с миллиардами долларов. Готова рисковать изворотливости, которые подмочат вашу сторону всё равно будут сыпаться. Талантливых и плохие новости не равняйтесь на банковском счету. Так и готова рисковать вовсе. Информации, плохие новости не делают из. Актёры, умершие в следующий проект, чтобы делать что-то особенное. Других людей к чему не совершите. Людей, которые, например, находили время после того, как.
			section.timer
				.timer__title
						h1 Начало через
				.timer__animation
					.container
						.seconds__bar.col-xs-12
							span.sec-counter
							.col-lg-12.centerd
								ul.bar__list
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
									li._hight
									li
									li
									li
									li._hight
							span.seconds__text Секунд
				.countdown.clearfix
					.container
						.row
							.col-xs-12
								.timer__wrapper
									span.month 
									span.days
									span.hours
									span.minutes 
			section.place
				.container
					.col-lg-12.col-xs-12
						h1.place__title Где?
						i.place__icon.icon-map
						span.place__text 
							span.place__text--orange Киев, Дарница 
							span.place__text--blue 01 января 6:00
			section.start
				.bg-wrapper
					.container
						button.btn.btn__btn-start_centered.abs
							span.btn__text Старт
			section.description
				.container
					.row
						.description__card#card1.col-lg-4.col-xs-12
							.card__decoration
								i.card__img
									svg(xmlns:dc="http://purl.org/dc/elements/1.1/"
									xmlns:cc="http://creativecommons.org/ns#"
									xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
									xmlns:svg="http://www.w3.org/2000/svg"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
									xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
									id="svg3390"
									version="1.1"
									inkscape:version="0.91 r13725"
									width="160"
									height="160"
									viewBox="0 0 159 152"
									sodipodi:docname="booms.svg")
										path(style="fill:#686868"
										d="m 72.32203,141.66102 c 0,-8.66667 0.26191,-10.5 1.5,-10.5 1.2381,0 1.5,1.83333 1.5,10.5 0,8.66667 -0.2619,10.5 -1.5,10.5 -1.23809,0 -1.5,-1.83333 -1.5,-10.5 z m 29.19231,-2.19231 c -1.9002,-5.97746 -2.7525,-10.1475 -2.18914,-10.71085 1.01732,-1.01733 1.50319,0.0527 5.06527,11.15556 1.61886,5.04587 2.00864,7.57052 1.28115,8.29801 -0.72749,0.72749 -1.99233,-1.93245 -4.15728,-8.74272 z m 22.92959,-16.68497 c -4.92451,-4.95759 -6.93247,-7.62176 -6.12198,-8.12267 1.36587,-0.84416 16.2262,13.32506 15.39148,14.67567 -0.94698,1.53225 -1.925,0.84085 -9.2695,-6.553 z m -50.7841,2.44163 c -1.73921,-1.06049 -3.60923,-2.72696 -4.1556,-3.70326 -0.75681,-1.35235 -2.03084,-1.7113 -5.34957,-1.50721 -5.92073,0.36409 -10.81707,-2.93913 -12.80179,-8.63648 -0.86246,-2.47577 -2.10134,-4.21894 -3,-4.22114 -5.59143,-0.0137 -11.72152,-8.352671 -10.71221,-14.572269 0.42892,-2.643171 0.0357,-3.525279 -2.36197,-5.297917 -3.2465,-2.400245 -5.54564,-8.64326 -4.58809,-12.458412 0.34697,-1.382436 1.71196,-3.798347 3.03332,-5.36869 2.00321,-2.380686 2.31712,-3.612333 1.88891,-7.411358 -0.93306,-8.27812 4.09928,-13.887617 12.45874,-13.887617 3.74698,0 3.83966,-0.08603 3.50109,-3.25 -0.82069,-7.669579 6.59712,-14.318044 14.83317,-13.294735 3.77133,0.468578 4.9057,0.213827 6.39991,-1.437258 4.39169,-4.852769 12.48839,-4.375863 18.10329,1.066308 4.91019,4.759151 7.14992,3.727918 19.96616,-9.192989 6.02076,-6.069925 12.61641,-11.903625 14.657,-12.963777 9.9308,-5.1593727 22.2802,1.065417 24.31728,12.257272 1.2229,6.718718 -0.93261,10.432511 -13.53229,23.315179 -9.60252,9.818196 -11.83616,12.661852 -12.28509,15.640212 -0.46592,3.091131 -0.11183,4.058745 2.34751,6.414945 5.5702,5.33659 5.97932,13.386516 0.91335,17.971157 -1.62002,1.466103 -1.85984,2.639843 -1.40388,6.870919 0.44007,4.083664 0.13442,5.763861 -1.53047,8.412939 -2.2338,3.554331 -7.24582,6.189831 -11.77138,6.189831 -2.57896,0 -2.80726,0.31288 -2.90339,3.97906 -0.20608,7.85959 -6.05763,12.59289 -14.5582,11.77609 -3.33683,-0.32063 -5.09129,-0.0635 -5.5849,0.81854 -1.12536,2.01092 -6.41299,4.41374 -9.7187,4.41641 -1.65,10e-4 -4.42299,-0.86525 -6.1622,-1.92575 z m 10.5347,-1.49841 c 3.67673,-1.90131 5.55806,-4.18181 4.16177,-5.04476 -0.58456,-0.36128 -1.93836,-2.37303 -3.00844,-4.47055 -1.2218,-2.39493 -2.89055,-4.05085 -4.48571,-4.4512 -4.62883,-1.16177 -2.63692,-2.09943 4.45988,-2.09943 7.25633,0 8.80807,0.86208 4.5,2.5 -3.94401,1.49951 -2.6818,5.82039 2.47999,8.48965 5.29818,2.73979 11.10089,1.18842 13.59501,-3.63468 3.28043,-6.34365 1.0787,-11.05685 -10.39956,-22.262142 l -6.05108,-5.907168 -5.51036,5.036156 c -6.47911,5.921545 -10.63069,7.133699 -16.30807,4.761539 l -3.79943,-1.587503 -5.65336,5.849178 c -4.69739,4.86008 -5.56678,6.30209 -5.14135,8.52761 1.10557,5.78339 8.20225,9.85114 13.60373,7.7975 2.40355,-0.91383 2.81643,-0.71568 4.23843,2.03419 1.44999,2.80396 6.12049,5.76241 9.24571,5.85653 0.71482,0.0215 2.54759,-0.60619 4.07284,-1.39492 z M 56.65761,99.327178 c 5.46468,-5.522307 5.70799,-5.97644 4.55625,-8.504226 -0.66919,-1.468713 -0.857,-3.005985 -0.41736,-3.416161 0.43964,-0.410176 1.03629,-0.0751 1.3259,0.744611 0.28961,0.819711 1.76838,2.732211 3.28617,4.25 2.12337,2.123364 3.71339,2.759615 6.8964,2.759615 3.61276,0 4.83192,-0.657434 9.62439,-5.189943 L 87.41696,84.78113 73.1195,70.366198 C 65.25589,62.437985 57.06702,54.648459 54.922,53.056141 49.95667,49.370219 45.54543,49.260719 41.43276,52.721298 c -5.7408,4.830568 -4.74729,13.507817 1.94269,16.967342 2.99382,1.548165 3.02861,1.535523 4.0809,-1.483073 1.66783,-4.784344 2.36568,-3.617524 2.36568,3.95545 0,7.135866 -0.93878,9.084254 -2.11636,4.392393 -0.40096,-1.597558 -1.86089,-3.152724 -3.76905,-4.014917 -1.71302,-0.77402 -3.89364,-1.955469 -4.84582,-2.625442 -2.1569,-1.517635 -4.38525,0.384995 -5.61635,4.795387 -1.30147,4.662522 0.44422,9.282042 4.38665,11.608132 2.97213,1.753595 3.35688,2.404361 2.77306,4.690273 -1.48382,5.809743 0.29429,10.214357 5.07574,12.573277 1.71168,0.84445 3.57622,1.54561 4.14344,1.55813 0.56721,0.0125 3.62914,-2.60246 6.80427,-5.811072 z m 62.36917,2.626222 c 3.07133,-1.50715 5.58744,-7.185586 4.79089,-10.812224 -0.64571,-2.939891 -5.60574,-7.980159 -7.85313,-7.980159 -0.66222,0 -1.72912,1.391123 -2.3709,3.091384 -0.65439,1.733671 -1.63025,2.804998 -2.22194,2.439311 -0.71745,-0.443403 -0.73421,-1.25163 -0.0524,-2.525642 0.55151,-1.030464 1.00273,-3.057737 1.00273,-4.505053 0,-1.447316 -0.45122,-3.474589 -1.0027,-4.505053 -0.67452,-1.260348 -0.66843,-2.080167 0.0186,-2.504784 0.56172,-0.347167 1.59976,0.744491 2.30674,2.425906 0.84989,2.021286 2.88488,3.866866 6.00599,5.446973 l 4.72056,2.389853 1.9754,-2.511306 c 3.87236,-4.922915 1.50978,-13.985041 -4.11114,-15.769051 -1.6896,-0.536259 -1.92155,-1.181775 -1.36872,-3.809109 l 0.66566,-3.163429 -4.01387,3.863774 c -2.20763,2.125076 -4.61747,3.642821 -5.3552,3.372768 -0.73773,-0.270054 -2.81162,0.899588 -4.60866,2.599203 l -3.26735,3.09021 -9.48265,-9.443227 c -5.21546,-5.193775 -9.48266,-9.936174 -9.48266,-10.538664 0,-0.60249 1.13794,-2.164473 2.52876,-3.471074 1.39081,-1.306602 2.40331,-3.157654 2.25,-4.11345 -0.15332,-0.955796 1.29624,-3.372993 3.22124,-5.371549 3.4536,-3.58556 3.46479,-3.625019 0.84429,-2.976121 -2.12679,0.526642 -2.78585,0.247601 -3.30911,-1.40104 -1.81797,-5.727915 -10.84542,-8.014432 -15.91084,-4.029975 -2.6405,2.077024 -2.64192,2.085771 -0.76605,4.75 1.03363,1.46803 2.16224,3.582564 2.50802,4.698966 0.34579,1.116401 2.02095,2.555334 3.72258,3.197629 4.11798,1.554362 2.95809,3.533489 -1.21771,2.077797 -2.16078,-0.753252 -4.1006,-0.763488 -6.47691,-0.03418 -4.40495,1.351918 -5.71326,-0.446932 -1.48565,-2.042678 1.70026,-0.641774 3.09138,-1.64308 3.09138,-2.22512 0,-2.147736 -3.35829,-5.755026 -6.63069,-7.122322 -6.51013,-2.720108 -13.36931,2.395207 -13.36931,9.970328 0,3.560418 0.76858,4.691684 8.68097,12.777494 4.77453,4.879177 9.145,8.871231 9.71215,8.871231 0.56715,0 2.95128,-1.884434 5.29807,-4.187632 2.34679,-2.303198 4.58669,-3.867828 4.97756,-3.476956 0.39087,0.390872 -1.39448,2.847974 -3.96746,5.460227 l -4.67813,4.74955 16.73842,16.685121 c 9.20613,9.176817 17.86342,17.121433 19.23842,17.654703 2.6206,1.01635 5.02103,0.71505 8.70475,-1.09263 z m -17.7042,-45.291825 c -3.54352,-3.575307 -6.96317,-6.500558 -7.59921,-6.500558 -0.63605,0 -1.73729,0.699876 -2.44721,1.555281 -1.10454,1.330884 -0.29654,2.557195 5.60025,8.499519 6.88983,6.943035 6.89137,6.943892 8.88999,4.945277 1.99861,-1.998615 1.99784,-2.000087 -4.44382,-8.499519 z m 45.60166,-27.218439 c 2.85092,-6.563162 0.60396,-13.796197 -5.6017,-18.032119 -3.63458,-2.4809192 -10.58212,-3.0355591 -14.31625,-1.142902 -1.20134,0.608903 -9.48857,8.358105 -18.41605,17.220447 l -16.23178,16.113351 10.23178,10.56703 10.23179,10.56703 16.35221,-16.037478 c 8.99372,-8.820613 16.98122,-17.485525 17.75,-19.255359 z m -39.38996,19.432037 -6.22997,-6.285844 14.33635,-14.214156 c 15.33643,-15.205709 16.54712,-15.886302 22.64774,-12.731548 3.15043,1.629152 5.50555,7.009819 4.42723,10.114769 -0.63142,1.818142 -27.2838,29.402623 -28.40909,29.402623 -0.29826,0 -3.34577,-2.82863 -6.77226,-6.285844 z m 20.03099,-8.464156 c 14.40161,-14.441957 15.86867,-17.229 11.41396,-21.683712 -4.90719,-4.90719 -6.80405,-3.950076 -21.64527,10.921761 l -13.46029,13.488048 4.93659,5.011952 c 2.71512,2.756573 5.185,5.011951 5.48861,5.011951 0.30361,0 6.27349,-5.7375 13.2664,-12.75 z m -0.66539,-10.16874 c -4.08985,-4.268886 -2.24815,-6.123274 1.99597,-2.009714 1.84159,1.784947 3.11431,3.624055 2.82825,4.086906 -0.87296,1.412484 -1.90777,0.966919 -4.82422,-2.077192 z m 3,-3 c -4.08985,-4.268886 -2.24815,-6.123274 1.99597,-2.009714 1.84159,1.784947 3.11431,3.624055 2.82825,4.086906 -0.87296,1.412484 -1.90777,0.966919 -4.82422,-2.077192 z m 3,-3 c -4.08985,-4.268886 -2.24815,-6.123274 1.99597,-2.009714 1.84159,1.784947 3.11431,3.624055 2.82825,4.086906 -0.87296,1.412484 -1.90777,0.966919 -4.82422,-2.077192 z m 11.54816,70.74248 c -6.40029,-2.031763 -9.04891,-3.300839 -8.34924,-4.000513 1.21001,-1.210003 19.39495,4.092822 19.38159,5.651773 -0.014,1.63142 -1.29596,1.439542 -11.03235,-1.65126 z M 0.32202983,87.161017 c 0,-0.603175 4.16666997,-1 10.50000017,-1 6.33334,0 10.5,0.396825 10.5,1 0,0.603175 -4.16666,1 -10.5,1 -6.3333302,0 -10.50000017,-0.396825 -10.50000017,-1 z m 138.00000017,-22 c 0,-0.603175 4.16667,-1 10.5,-1 6.33333,0 10.5,0.396825 10.5,1 0,0.603175 -4.16667,1 -10.5,1 -6.33333,0 -10.5,-0.396825 -10.5,-1 z M 13.68695,59.730797 C 3.3646798,56.450268 2.8661098,56.216941 3.9220898,55.160958 5.1187498,53.964297 24.60054,59.901362 23.78852,61.215242 22.99131,62.505157 21.9222,62.348048 13.68695,59.730797 Z M 32.44393,30.783736 c -4.9245,-4.957593 -6.93246,-7.621762 -6.12198,-8.122669 1.36588,-0.844156 16.2262,13.325063 15.39148,14.67567 -0.94698,1.532248 -1.92499,0.840848 -9.2695,-6.553001 z m 26.04443,-8.70988 C 54.9018,12.543277 53.02104,5.062015 53.97245,4.1106064 c 0.72749,-0.7274934 1.99233,1.9324515 4.15728,8.7427186 1.9002,5.977466 2.7525,10.147499 2.18914,10.710854 -0.56335,0.563356 -1.27602,-0.01687 -1.83051,-1.490323 z M 84.32203,10.661017 c 0,-8.6666667 0.26191,-10.50000006 1.5,-10.50000006 1.2381,0 1.5,1.83333336 1.5,10.50000006 0,8.666667 -0.2619,10.5 -1.5,10.5 -1.23809,0 -1.5,-1.833333 -1.5,-10.5 z"
										id="path3400"
										inkscape:connector-curvature="0")
									svg(xmlns:dc="http://purl.org/dc/elements/1.1/"
									xmlns:cc="http://creativecommons.org/ns#"
									xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
									xmlns:svg="http://www.w3.org/2000/svg"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
									xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
									id="svg3402"
									version="1.1"
									inkscape:version="0.91 r13725"
									width="160"
									height="160"
									viewBox="0 0 153 154"
									sodipodi:docname="boom1.svg")
										path(style="fill:#373334"
										d="m 43.48934,152.14352 c -1.73922,-1.06049 -3.60923,-2.72696 -4.1556,-3.70326 -0.75681,-1.35235 -2.03084,-1.7113 -5.34957,-1.50721 -5.84662,0.35953 -10.81939,-2.94643 -12.74563,-8.47347 -1.17075,-3.35927 -2.10814,-4.29666 -5.4674,-5.4674 -5.49263,-1.91425 -8.8327101,-6.90387 -8.4784001,-12.66554 0.21234,-3.45287 -0.16207,-4.57379 -1.94483,-5.82248 -6.29366003,-4.40825 -6.78589,-15.371139 -0.90915,-20.248398 1.00232,-0.831852 1.28268,-2.597372 0.95462,-6.011564 -0.82781,-8.615208 4.0726703,-14.165031 12.5077001,-14.165031 3.74698,0 3.83965,-0.08603 3.50109,-3.25 -0.81932,-7.656796 6.56024,-14.281593 14.8979,-13.374179 3.72093,0.40496 4.99222,0.126133 6.37092,-1.397309 4.68201,-5.17356 14.47338,-4.61237 18.67479,1.070341 1.86393,2.5211 2.66897,2.879835 5.33868,2.378994 6.20973,-1.164953 14.45079,4.990538 14.46334,10.803101 0.002,1.055889 1.07623,1.995067 2.75374,2.408188 6.75661,1.663943 10.25,6.359072 10.25,13.77602 0,3.483192 0.45452,4.757725 1.98965,5.579305 2.796837,1.496824 5.01101,6.231494 5.00661,10.705882 -0.004,3.74587 -3.10585,10.29966 -4.87523,10.29966 -0.52873,0 -0.48973,1.64931 0.0933,3.94631 1.882,7.41447 -4.36501,15.40864 -12.11652,15.50526 l -3.88526,0.0484 -0.47755,4.93797 c -0.3987,4.12266 -1.09493,5.50377 -4.21672,8.36468 -3.48941,3.1978 -4.10023,3.39675 -9.14441,2.97845 -3.85633,-0.3198 -5.73807,-0.0472 -6.56672,0.95126 -3.62419,4.36688 -11.34033,5.45945 -16.46936,2.33199 z m 13.41071,-3.3685 c 2.0071,-1.82248 2.08897,-2.21796 0.76249,-3.68369 -0.8173,-0.90312 -1.98565,-3.07531 -2.59633,-4.82709 -0.68712,-1.97109 -1.78866,-3.18507 -2.89005,-3.18507 -1.97432,0 -4.36017,-2.33112 -3.38446,-3.30683 0.34255,-0.34254 1.51487,-0.14538 2.60518,0.43813 1.79123,0.95864 5.99696,0.86199 9.62966,-0.22128 0.75625,-0.22551 1.58242,0.156 1.83594,0.84779 0.28266,0.77132 -0.73264,1.49653 -2.625,1.875 -3.80982,0.76197 -3.89783,2.43502 -0.33594,6.38614 5.48514,6.08452 14.69776,4.21444 17.24387,-3.50037 1.71862,-5.20745 0.35315,-7.72271 -9.52967,-17.55419 l -8.44425,-8.40039 -4.25997,4.10121 c -2.34299,2.25566 -5.24289,4.60376 -6.44424,5.218 -2.84588,1.45508 -8.54399,1.42555 -11.80702,-0.0612 -2.41002,-1.09808 -2.95585,-0.81212 -8.04705,4.21584 -6.39632,6.31686 -6.9674,9.26103 -2.71167,13.97978 2.89716,3.21236 6.40721,3.98923 11.5,2.54526 2.07584,-0.58857 2.75,-0.43128 2.75,0.6416 0,1.84015 4.91885,6.46851 7.5,7.05708 3.0878,0.70409 6.77351,-0.3184 9.24851,-2.56573 z M 27.16668,125.56384 c 4.83775,-4.8986 5.30917,-5.73573 4.21584,-7.48643 -1.456,-2.33142 -1.61519,-4.99824 -0.29837,-4.99824 0.51294,0 1.21199,0.88024 1.55345,1.95608 0.34146,1.07584 2.0373,3.14795 3.76853,4.60469 4.76815,4.01213 9.64454,3.01629 15.9099,-3.24907 L 57.15035,111.55655 39.64022,94.067857 C 22.19111,76.64012 22.11452,76.579167 17.66354,76.579167 c -6.32287,0 -10.0120001,3.723306 -10.0120001,10.104756 0,3.886013 0.48227,4.99021 3.2657801,7.477273 4.11557,3.677261 5.08027,3.658046 6.39991,-0.127473 0.58391,-1.674995 1.573,-2.856245 2.19798,-2.625 0.62498,0.231244 0.9115,1.039194 0.6367,1.795444 -0.2748,0.75625 -0.43657,3.976715 -0.35948,7.156593 0.11716,4.83284 -0.088,5.59221 -1.25036,4.62755 -0.76479,-0.63471 -1.39053,-1.94161 -1.39053,-2.9042 0,-1.10687 -1.86386,-2.672593 -5.07084,-4.259709 -5.0293601,-2.489001 -5.0857901,-2.49348 -6.8986801,-0.547577 -4.92691004,5.288416 -2.31365,13.223816 5.7024201,17.315916 0.1281,0.0654 -0.19324,1.60474 -0.71407,3.42078 -1.7451401,6.08496 3.05686,13.06565 8.98784,13.06565 1.78084,0 4.22188,-1.68111 8.00847,-5.51533 z m 62.04025,3.48569 c 2.54346,-1.36122 4.94461,-6.14156 4.94461,-9.84397 0,-3.3279 -3.88882,-8.60255 -6.9284,-9.39742 -1.47417,-0.3855 -2.19884,0.19727 -2.95984,2.38027 -1.66679,4.78137 -2.61176,3.29459 -2.61176,-4.10924 0,-7.35422 0.92377,-8.857884 2.61097,-4.25 0.6701,1.83009 2.57513,3.49438 5.69494,4.97527 4.54145,2.1557 4.74517,2.1681 6.51652,0.39674 1.00569,-1.00568 2.07712,-3.68198 2.380967,-5.94734 0.50762,-3.784593 0.23807,-4.425394 -3.321747,-7.896749 -3.52131,-3.433813 -3.87453,-4.254014 -3.87792,-9.004814 -0.003,-4.304466 -0.46664,-5.689867 -2.62679,-7.850338 -1.44269,-1.442897 -4.12953,-2.931554 -5.97077,-3.308127 -2.83561,-0.579945 -3.48185,-1.251936 -4.22471,-4.393038 -0.51632,-2.183237 -2.15448,-4.783282 -3.98319,-6.322047 -2.62109,-2.205498 -3.79925,-2.535568 -7.54394,-2.113487 -4.13315,0.465865 -4.69196,0.232977 -8.1412,-3.392937 -3.08365,-3.241583 -4.35697,-3.889415 -7.60829,-3.8709 -2.22791,0.01269 -4.93262,0.812479 -6.29811,1.862371 l -2.39327,1.840136 2.39327,4.989597 c 1.628,3.394116 3.30184,5.339948 5.23466,6.085258 3.86982,1.492234 2.58387,3.418909 -1.36349,2.042852 -2.09897,-0.731705 -3.9185,-0.710204 -6.16477,0.07285 -2.12459,0.740634 -3.52021,0.777617 -4.18688,0.110951 -0.66666,-0.666667 0.0623,-1.370317 2.18688,-2.110951 3.95534,-1.378838 4.09619,-3.681298 0.43687,-7.141426 -4.38094,-4.142474 -10.09475,-4.082969 -14.32692,0.149203 -2.30537,2.30537 -2.92308,3.813081 -2.92308,7.134702 0,3.96382 0.54129,4.763587 9.19967,13.59267 l 9.19966,9.381046 4.70465,-4.633904 c 2.85467,-2.811752 5.1732,-4.344319 5.89623,-3.897461 0.80461,0.497276 -0.37968,2.331707 -3.64669,5.648586 l -4.83828,4.912144 17.54948,17.469573 c 16.48989,16.4148 17.77642,17.46957 21.30812,17.46957 2.06726,0 4.6244,-0.46334 5.68255,-1.02964 z m -24.33685,-40.751004 -9.74799,-9.784704 4.03529,-3.940354 4.03529,-3.940355 9.71888,9.718879 9.71888,9.718879 -4.00618,4.00618 -4.00618,4.006179 -9.74799,-9.784704 z m 10.33724,-2.115895 c -2.1368,-2.531905 -5.71202,-6.371089 -7.94494,-8.531521 -3.97526,-3.846205 -4.10206,-3.88986 -6.08535,-2.095012 -1.11402,1.008174 -2.02549,2.315844 -2.02549,2.905933 0,0.590089 3.46804,4.561384 7.70675,8.8251 l 7.70674,7.752212 2.26369,-2.126624 2.26369,-2.126624 -3.88509,-4.603464 z m -8.54423,-0.09183 c -5.46703,-5.509248 -6.67591,-7.247274 -5.71155,-8.211634 0.96436,-0.96436 2.70239,0.244513 8.21164,5.711546 6.7262,6.67466 8.41995,9.488454 5.71154,9.488454 -0.70225,0 -4.39748,-3.144764 -8.21163,-6.988365 z M 91.65547,61.08312 83.70632,53.087074 89.61435,47.116747 C 95.46775,41.20163 95.505,41.127209 93.64221,39.068853 91.77263,37.002988 91.85468,36.89799 108.20679,20.430409 125.11526,3.4025378 129.61255,0.14166681 136.24426,0.10112781 c 12.12025,-0.07409 20.60268,13.95307419 14.97748,24.76787619 -1.06139,2.040589 -9.36661,11.110301 -18.45606,20.154915 -16.43342,16.35237 -16.53793,16.434191 -18.60383,14.564581 -2.0579,-1.862375 -2.13195,-1.826353 -7.82293,3.805246 -3.15996,3.126982 -5.96788,5.685421 -6.23984,5.685421 -0.271953,0 -4.07157,-3.598221 -8.44361,-7.996046 z m 14.41108,0.355257 c 2.24675,-2.552434 4.08499,-4.927934 4.08499,-5.278888 0,-0.350954 -2.92884,-3.540903 -6.50853,-7.088776 l -6.50853,-6.450677 -5.22103,5.221036 -5.22104,5.221036 6.45068,6.508529 c 3.54787,3.579692 6.98793,6.50853 7.64457,6.50853 0.65665,0 3.03215,-2.088355 5.27889,-4.64079 z m -6.314973,-3.197345 c -0.31791,-0.514388 0.052,-1.458091 0.821943,-2.097116 0.82791,-0.687106 1.63615,-0.779704 1.97798,-0.226614 0.31791,0.514388 -0.052,1.458091 -0.82194,2.097116 -0.82791,0.687106 -1.63615,0.779704 -1.977983,0.226614 z M 95.15154,52.579167 c 0,-0.825 0.7301,-1.5 1.62245,-1.5 1.32879,0 1.39712,0.271492 0.37755,1.5 -0.68469,0.825 -1.41479,1.5 -1.62244,1.5 -0.20766,0 -0.37756,-0.675 -0.37756,-1.5 z m 55.53118,-31.75 c 1.06857,-5.795675 -0.24777,-10.399928 -4.06451,-14.2166672 -3.81548,-3.815474 -8.43433,-5.1371849 -14.18338,-4.058656 -3.08242,0.578265 -6.5809,3.530335 -20.5,17.2981792 -9.23081,9.130507 -16.78329,17.071638 -16.78329,17.646958 0,0.57532 4.612497,5.67516 10.25,11.332977 l 10.25,10.286941 17.16989,-17.269866 C 147.22872,27.357852 150.10256,23.9758 150.68272,20.829167 Z M 108.87024,44.30017 c -3.14529,-3.178449 -5.7187,-6.236701 -5.7187,-6.796115 0,-0.559415 6.22355,-7.183866 13.83012,-14.721003 13.07433,-12.9550052 14.04582,-13.7038852 17.77749,-13.7038852 2.17106,0 4.93986,0.6951645 6.1529,1.5448102 2.73443,1.915265 4.23863,7.095942 3.03565,10.45519 -0.97958,2.735442 -26.62246,29 -28.31357,29 -0.57486,0 -3.61861,-2.600549 -6.76389,-5.778997 z m 33.2813,-26.128369 c 0,-4.597732 -2.42418,-7.092634 -6.89158,-7.092634 -3.26025,0 -4.77086,1.186809 -16.83628,13.227394 l -13.25468,13.227395 5.21741,5.283036 5.21741,5.283037 13.27386,-13.246538 c 11.88495,-11.860485 13.27386,-13.605974 13.27386,-16.68169 z m -13.0232,6.383435 c -1.83705,-1.89536 -3.01835,-3.767849 -2.62511,-4.161089 0.39324,-0.393239 2.32346,0.8935 4.28938,2.85942 1.96592,1.96592 3.14722,3.83841 2.62512,4.161088 -0.52211,0.322679 -2.45233,-0.96406 -4.28939,-2.859419 z m 3.07778,-2.91976 c -1.87983,-1.939491 -3.09671,-3.847512 -2.70418,-4.240046 0.96469,-0.964688 6.99036,5.16145 6.50602,6.614488 -0.21316,0.639459 -1.90448,-0.416856 -3.80184,-2.374442 z m 3,-3 c -1.87983,-1.939491 -3.09671,-3.847512 -2.70418,-4.240046 0.96469,-0.964688 6.99036,5.16145 6.50602,6.614488 -0.21316,0.639459 -1.90448,-0.416856 -3.80184,-2.374442 z"
										id="path3412"
										inkscape:connector-curvature="0")
								img.bg-tril(src="../images/card-decor-white.png" alt="decor")
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							.card__wrapper.col-xs-6.col-md-12
								h2.card__name Новые Знания
								p.card_text Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.
						.description__card#card2.col-lg-4.col-xs-12
							.card__decoration
								i.card__img
									svg(xmlns:dc="http://purl.org/dc/elements/1.1/"
									xmlns:cc="http://creativecommons.org/ns#"
									xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
									xmlns:svg="http://www.w3.org/2000/svg"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
									xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
									id="svg3426"
									version="1.1"
									inkscape:version="0.91 r13725"
									width="160"
									height="160"
									viewBox="0 0 151 155"
									sodipodi:docname="lecture.svg")
										path(style="fill:#686868"
										d="m 0.46441292,152.76202 c 0,-1.64334 1.16630998,-3.90572 2.97609008,-5.77294 2.76975,-2.85765 2.89921,-3.32103 1.86728,-6.68337 -2.20382,-7.18069 1.75785,-15.52325 8.76117,-18.44943 1.75885,-0.73489 4.16194,-2.896 5.34019,-4.80245 1.19267,-1.92978 3.88464,-4.26929 6.07298,-5.27785 l 3.93069,-1.81157 0.0258,-10.44523 0.0258,-10.445234 L 19.109883,78.51918 8.755343,67.964413 4.637013,55.575018 C 2.3719329,48.760851 0.73008292,42.843568 0.98846292,42.425499 1.7776229,41.148616 11.563473,39.160843 12.460213,40.095274 c 0.45875,0.478026 2.27128,5.010183 4.02785,10.07146 3.19051,9.192942 3.20243,9.209504 11.69461,16.25 l 8.50085,7.047679 9.11312,0 c 7.92005,0 10.194765,-0.425485 17.375071,-3.25 l 8.261947,-3.25 0.265376,-32.5 0.265376,-32.4999996 37.749997,-0.2620252 37.75,-0.2620252 0,45.52405 0,45.52405 -37.75,-0.262025 -37.749997,-0.262025 -0.307759,-3.706278 -0.307758,-3.706278 -3.442242,1.64149 -3.442241,1.641491 0,11.122339 0,11.122333 4.011821,1.77002 c 2.206502,0.9735 4.794002,2.82723 5.75,4.11938 l 1.738179,2.34938 3.710584,-3.5914 c 3.108381,-3.00854 4.583045,-3.66375 9.086429,-4.0372 6.39833,-0.5306 10.342515,1.17655 14.364754,6.21747 l 2.73717,3.43038 1.75279,-2.88223 c 3.91873,-6.44384 11.60852,-8.51758 19.17437,-5.17085 2.79574,1.23669 5.38951,3.30834 6.56761,5.24557 1.07089,1.76093 3.62354,4.15404 5.67258,5.31803 6.2546,3.55305 9.44052,12.99807 6.33913,18.79307 -0.93199,1.74144 -0.56063,2.59205 2.5,5.72642 3.68966,3.77856 4.80676,8.09686 2.09458,8.09686 -0.90335,0 -1.5,-0.92508 -1.5,-2.32569 0,-2.13322 -3.64342,-6.67431 -5.35494,-6.67431 -0.39933,0 -1.94532,0.87413 -3.43555,1.94251 -1.49023,1.06838 -4.05951,2.03624 -5.70951,2.1508 -6.86743,0.4768 -8.75351,-0.11153 -12.5598,-3.91782 l -3.82451,-3.82451 -3.39254,3.39254 c -6.2431,6.2431 -16.032279,6.08524 -21.682176,-0.34964 -2.917534,-3.32289 -2.967146,-3.33737 -4.404219,-1.28566 -5.359695,7.65204 -16.42222,8.30631 -23.347672,1.38086 -3.227821,-3.22782 -3.337378,-3.25821 -4.705271,-1.30527 -5.315084,7.58834 -16.403109,8.19689 -23.320109,1.27989 -3.21633,-3.21633 -3.37174,-3.26214 -4.54693,-1.34013 -3.63533,5.94556 -13.60755,7.90846 -20.25429,3.9868 l -3.73452,-2.20343 -2.36398,2.22085 c -1.30019,1.22146 -2.36398,3.2674 -2.36398,4.54652 0,1.40061 -0.59665,2.32569 -1.5000001,2.32569 -0.96329,0 -1.49999998,-0.96693 -1.49999998,-2.70239 z M 26.165863,146.50489 c 7.37425,-4.49634 8.26811,-13.93098 1.87494,-19.78988 -2.78522,-2.55247 -4.41992,-3.2506 -7.61136,-3.2506 -5.20863,0 -9.52606,2.25044 -11.4481,5.96727 -5.9685,11.54179 6.28694,23.71786 17.18452,17.07321 z m 28,0 c 7.37425,-4.49634 8.26811,-13.93098 1.87494,-19.78988 -2.78522,-2.55247 -4.41992,-3.2506 -7.61136,-3.2506 -5.20863,0 -9.52606,2.25044 -11.4481,5.96727 -5.9685,11.54179 6.28694,23.71786 17.18452,17.07321 z m 28.400667,-0.32308 c 3.997435,-2.68536 6.576519,-8.87736 5.494026,-13.19036 -0.392717,-1.56471 -2.217507,-4.3484 -4.055088,-6.18598 -2.714554,-2.71456 -4.119182,-3.34106 -7.490715,-3.34106 -7.989017,0 -13.05034,4.67744 -13.05034,12.06052 0,10.44003 10.611948,16.36033 19.102117,10.65688 z m 27.70806,0.25697 c 6.98132,-4.2564 7.7923,-13.57189 1.71095,-19.65324 -2.90993,-2.90993 -3.96495,-3.32113 -8.52113,-3.32113 -4.580389,0 -5.605125,0.40513 -8.599997,3.4 -2.891685,2.89168 -3.4,4.09514 -3.4,8.04966 0,5.9373 2.027149,9.82197 6.198089,11.87753 4.450198,2.19318 8.627828,2.07631 12.612088,-0.35282 z m 27.76986,0.13995 c 7.1275,-4.34634 8.04387,-13.69041 1.94109,-19.79319 -2.90993,-2.90993 -3.96495,-3.32113 -8.52113,-3.32113 -4.58039,0 -5.60513,0.40513 -8.6,3.4 -3.02834,3.02834 -3.39757,3.98482 -3.37776,8.75 0.0248,5.9708 1.65416,8.81153 6.47776,11.29383 4.01868,2.06808 8.34165,1.95016 12.08004,-0.32951 z M 42.075833,121.84709 c 3.16333,-0.79395 3.01248,-1.99745 -0.68305,-5.4496 -5.59032,-5.22213 -12.90767,-5.10762 -18.3017,0.2864 l -3.11705,3.11706 4.2777,1.4259 c 2.48885,0.82962 5.37042,2.79537 6.89075,4.70074 l 2.61306,3.27484 2.96585,-3.37792 c 1.63122,-1.85786 4.04072,-3.6477 5.35444,-3.97742 z m 27.13858,0.49668 c 2.3375,-1.13178 4.25,-2.42763 4.25,-2.87967 0,-0.45205 -1.384526,-1.9869 -3.076725,-3.4108 -5.364613,-4.51402 -15.973541,-3.10052 -18.986765,2.52975 -0.82365,1.539 -0.42919,2.06649 2.4427,3.26644 1.883735,0.78708 4.460245,2.83133 5.725577,4.54278 l 2.300602,3.11173 1.547306,-2.55123 c 0.851018,-1.40318 3.459805,-3.47723 5.797305,-4.609 z m 22.300536,4.02621 c 0.616498,-1.15193 3.382234,-3.09241 6.146082,-4.31218 l 5.025179,-2.21775 -3.097693,-3.09769 c -5.651002,-5.651 -15.787913,-4.94049 -19.864986,1.39236 -1.308206,2.03202 -1.16592,2.28008 2.23297,3.89296 1.996615,0.94746 4.390193,2.76917 5.319061,4.04826 2.100321,2.89223 2.822087,2.94229 4.239387,0.29404 z m 27.947711,0.0977 c 1.13806,-2.12648 7.89415,-6.00327 10.46191,-6.00327 2.3833,0 1.83493,-1.57391 -1.53689,-4.41111 -5.22878,-4.39973 -14.95647,-3.23955 -18.52691,2.20963 -1.53019,2.33536 -1.51551,2.55515 0.23597,3.53305 1.02722,0.57353 2.99267,2.25515 4.36767,3.73693 3.09539,3.33578 3.65705,3.44082 4.99825,0.93477 z M 52.509503,114.07992 c 1.778785,-1.49675 4.521325,-2.97879 6.094532,-3.29343 l 2.860378,-0.57208 0,-11.831086 0,-11.83109 10.25,-5.227189 c 8.082209,-4.121681 11.994807,-6.917876 18.5,-13.221292 4.5375,-4.396757 8.25,-8.510841 8.25,-9.142408 0,-0.631567 -1.120285,-2.200757 -2.489522,-3.487088 -2.229917,-2.094899 -2.673102,-2.184947 -4.25,-0.863532 -0.968263,0.811389 -4.685478,3.989186 -8.260478,7.061771 -4.69813,4.037875 -9.235037,6.72383 -16.366275,9.689217 -9.557859,3.974451 -10.214311,4.102105 -20.999995,4.083671 l -11.13373,-0.01903 -8.5,-7.07926 c -8.43882,-7.028304 -8.52517,-7.147588 -11.99701,-16.571729 l -3.49701,-9.492469 -3.37689,0.547994 c -1.85729,0.301397 -3.54051,0.711605 -3.74048,0.911574 -0.19996,0.19997 1.25808,5.281713 3.24011,11.292764 l 3.60368,10.929184 10.8838,11.015647 10.8838,11.015647 0,11.234353 c 0,10.982661 0.0504,11.234431 2.25,11.238091 3.07867,0.005 8.13067,3.23956 10.89049,6.97242 2.05052,2.77346 2.36069,2.90132 2.97961,1.22822 0.37996,-1.02713 2.1462,-3.09212 3.92499,-4.58887 z m -8.04509,-14.327655 0,-9.712149 -4.11666,-4.194576 c -5.62797,-5.734476 -4.18309,-8.073154 1.52604,-2.470062 l 4.17572,4.098157 3.90894,-4.00312 c 2.61285,-2.675802 4.241393,-3.670669 4.911594,-3.000468 0.670201,0.670201 -0.391319,2.423003 -3.201494,5.28636 l -4.20414,4.283709 0,9.712149 c 0,7.966355 -0.26963,9.712145 -1.5,9.712145 -1.23037,0 -1.5,-1.74579 -1.5,-9.712145 z m 100.499997,-52.787852 0,-42.9999996 -35.25,-0.2627926 -35.249997,-0.2627926 0,31.1352368 c 0,29.500109 0.0919,31.064356 1.75,29.785545 0.9625,-0.74233 4.675,-3.869967 8.25,-6.950303 3.575,-3.080337 7.10312,-5.954738 7.840267,-6.387558 1.516117,-0.890198 9.15973,5.94803 9.15973,8.194596 0,2.05319 -17.63393,18.444445 -22.610621,21.017235 -4.074306,2.106286 -4.389376,2.555829 -4.389376,6.262792 l 0,3.993626 35.249997,-0.262792 35.25,-0.262793 0,-43 z m -38.07198,31.173026 c -0.29203,-0.761024 -0.3953,-4.261283 -0.22949,-7.778353 l 0.30147,-6.394673 6.75,-0.29569 c 6.62286,-0.29012 6.75,-0.347413 6.75,-3.041792 0,-1.933689 -1.33129,-4.052665 -4.5,-7.162518 -2.475,-2.429029 -4.5,-5.129029 -4.5,-6 0,-0.870971 2.025,-3.570971 4.5,-6 3.20414,-3.144621 4.5,-5.220368 4.5,-7.208208 0,-2.734827 -0.11835,-2.791792 -5.8,-2.791792 -3.19,0 -6.34,-0.54 -7,-1.2 -1.69841,-1.698406 -1.55324,-12.26195 0.18837,-13.707358 0.93508,-0.776045 5.75087,-1.060893 14.75,-0.872445 l 13.36163,0.279803 0,7.5 0,7.5 -6.75,0.29569 c -6.576,0.288067 -6.75,0.364592 -6.75,2.968555 0,1.880466 1.54629,4.238603 5.21584,7.95431 l 5.21584,5.281445 -5.21584,5.281445 c -3.66756,3.713695 -5.21584,6.07426 -5.21584,7.952283 0,2.577804 0.21771,2.681208 6.25,2.968555 l 6.25,0.297717 0,7.5 0,7.5 -13.7705,0.278353 c -10.99471,0.222244 -13.87754,-5.63e-4 -14.30148,-1.105327 z m 26.57198,-6.703805 0,-5.030779 -12.25,0.280779 -12.25,0.280779 -0.30479,4.75 -0.30479,4.75 12.55479,0 12.55479,0 0,-5.030779 z m -7.98171,-20.488095 3.41063,-3.518873 -3.71446,-3.71446 -3.71446,-3.71446 -3.71446,3.71446 -3.71446,3.71446 3.41063,3.518873 c 1.87584,1.935381 3.68407,3.518874 4.01829,3.518874 0.33422,0 2.14245,-1.583493 4.01829,-3.518874 z m 7.98171,-27.481126 0,-5 -12,0 -12,0 0,5 0,5 12,0 12,0 0,-5 z M 84.574484,40.068906 c -4.515446,-2.50272 -6.263985,-8.439271 -4.134997,-14.038934 1.824906,-4.799865 10.064803,-8.090402 14.011146,-5.595237 1.197178,0.756943 1.272934,1.504753 0.389531,3.845156 l -1.096688,2.905459 2.905459,-1.096688 c 2.340403,-0.883403 3.088213,-0.807647 3.845155,0.389531 2.50429,3.960785 -0.17706,11.821081 -4.742001,13.901008 -3.191677,1.454225 -8.247243,1.31388 -11.177605,-0.310295 z m 9.373198,-1.598132 c 1.575042,-0.59883 3.217434,-2.439132 4.133504,-4.631596 1.978244,-4.734604 0.698095,-6.10607 -3.616773,-3.874765 -4.240098,2.19264 -5.727956,0.808393 -3.585098,-3.335438 2.089589,-4.04082 2.052727,-4.164562 -1.240588,-4.164562 -2.871065,0 -6.302808,2.879462 -7.515366,6.305897 -0.928696,2.624296 1.875839,8.574638 4.546622,9.646505 3.050953,1.224441 4.177135,1.232791 7.277699,0.05396 z M 41.464413,64.343685 c -11.29794,-4.491861 -12.88189,-20.46291 -2.65621,-26.782729 4.49062,-2.775353 11.98124,-2.805423 16.474239,-0.06613 4.307905,2.626442 7.625758,9.847426 6.816362,14.835149 -1.537753,9.476062 -11.876731,15.495602 -20.634391,12.013713 z m 12.03273,-3.396199 c 5.294856,-2.738075 7.576266,-10.745009 4.687959,-16.453058 -1.704582,-3.3687 -7.390929,-7.030015 -10.918229,-7.030015 -9.37616,0 -15.65577,10.58162 -11.28989,19.024309 2.8652,5.54069 11.28451,7.683347 17.52016,4.458764 z M 19.936113,35.393072 c -2.73443,-2.799614 -6.67733,-5.972255 -8.76199,-7.050313 -4.63509,-2.396979 -5.70971,-5.006833 -5.70971,-13.86672 0,-5.919228 0.35444,-7.2794069 2.58889,-9.9349003 l 2.5889,-3.0767253 18.95656,0 c 18.79338,0 18.97769,0.021128 21.41111,2.4545455 2.22056,2.2205663 2.45454,3.2638238 2.45454,10.9442361 0,7.531221 -0.27234,8.806456 -2.41224,11.295454 -2.27413,2.645115 -2.9491,2.825192 -11.78839,3.145082 l -9.37614,0.339319 -1.46162,5.081695 c -0.80388,2.794933 -1.92434,5.233985 -2.48991,5.420115 -0.56556,0.186131 -3.26556,-1.952174 -6,-4.751788 z m 6.84901,-3.678659 1.38122,-4.75 10.10368,-0.5 c 6.27237,-0.3104 10.58812,-0.986206 11.38123,-1.782193 0.72299,-0.725617 1.43991,-4.497443 1.65158,-8.689223 0.34877,-6.9065151 0.19666,-7.5844114 -2.25097,-10.0320452 L 46.426843,3.3359376 28.863073,3.6501755 C 7.965523,4.0240586 8.464413,3.7384845 8.464413,15.326802 c 0,7.453748 1.46942,11.137611 4.44258,11.137611 0.62293,0 3.34877,2.25 6.05742,5 2.70865,2.75 5.26562,5 5.68215,5 0.41653,0 1.37888,-2.1375 2.13856,-4.75 z m -10.32071,-12.25 c 0,-0.615385 5,-1 13,-1 8,0 13,0.384615 13,1 0,0.615385 -5,1 -13,1 -8,0 -13,-0.384615 -13,-1 z m 0,-8 c 0,-0.615385 5,-1 13,-1 8,0 13,0.384615 13,1 0,0.615385 -5,1 -13,1 -8,0 -13,-0.384615 -13,-1 z"
										id="path3450"
										inkscape:connector-curvature="0")
								img.bg-tril(src="../images/card-decor-white.png")
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							.card__wrapper#card-2.col-sx-6.col-md-12
								h2.card__name Кейсы
								p.card_text Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.
						.description__card#card3.col-lg-4.col-xs-12
							.card__decoration
								.card__img
									svg(xmlns:dc="http://purl.org/dc/elements/1.1/"
									xmlns:cc="http://creativecommons.org/ns#"
									xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
									xmlns:svg="http://www.w3.org/2000/svg"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
									xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
									id="svg3372"
									version="1.1"
									inkscape:version="0.91 r13725"
									width="160"
									height="160"
									viewBox="0 0 150 154"
									sodipodi:docname="discuss.svg")
										path(style="fill:#686868"
										d="m 3.3474626,135.9404 0,-18.71215 4.10556,-4.18327 c 3.8718104,-3.94508 4.0654204,-4.42089 3.4004804,-8.35665 -0.51037,-3.02086 -1.0918401,-4.0163 -2.1055701,-3.60458 -0.7702603,0.31284 -2.0754703,0.84194 -2.9004703,1.17579 -1.27125,0.51442 -1.5,-0.85523 -1.5,-8.980957 0,-9.393143 -0.0508,-9.600685 -2.5,-10.215397 -3.1361501,-0.787122 -3.1286401,-1.333834 0.0532,-3.873079 1.97652,-1.577356 2.7347,-3.376586 3.35685,-7.966052 0.62606,-4.618436 1.40005,-6.441484 3.5025703,-8.25 2.5768501,-2.216513 3.4124001,-2.321513 18.4736801,-2.321513 14.6986,0 16.10047,-0.164895 20.5491,-2.417079 l 4.77434,-2.417079 -0.67186,5.667079 c -1.02003,8.60392 -2.41331,13.030054 -4.44371,14.116691 -1.52491,0.816108 -2.05842,3.209944 -3.13261,14.056059 -0.97233,9.817535 -1.74401,13.590507 -3.09924,15.153097 -2.42144,2.79194 -1.81184,3.72656 9.24206,14.16973 l 9.25739,8.74593 5.17622,-5.11192 5.17622,-5.11192 4.64705,5.31227 c 2.55587,2.92175 4.53268,5.62077 4.3929,5.99781 -0.13978,0.37704 -4.45453,4.32014 -9.58834,8.76244 -10.12334,8.75974 -12.44791,9.57719 -17.00808,5.98097 l -2.65772,-2.09593 -0.29569,6.59593 -0.29569,6.59593 -22.95431,0 -22.9543104,0 0,-18.71215 z m 11.0000004,2.71215 c 0,-8 0.38461,-13 1,-13 0.61538,0 1,5 1,13 l 0,13 7,0 7,0 0,-14.5 c 0,-7.975 -0.38026,-14.5 -0.84502,-14.5 -0.46475,0 -1.6595,0.9 -2.65498,2 -0.99549,1.1 -2.36051,2 -3.03338,2 -0.67287,0 -3.11209,-2.44808 -5.42047,-5.44018 -6.18426,-8.01595 -6.64709,-8.28335 -9.5754701,-5.53228 -2.4377203,2.29012 -2.4706803,2.54558 -2.4706803,19.14677 l 0,16.82569 4.0000004,0 4,0 0,-13 z m 31.77361,-4.00193 c -0.27799,-17.27381 -1.26638,-21.24204 -3.25576,-13.07141 -0.59279,2.43466 -1.66579,4.62265 -2.38445,4.86221 -0.71866,0.23955 -2.84267,-1.05322 -4.72003,-2.87283 l -3.41337,-3.30837 0,15.69616 0,15.69617 7.02361,0 7.02361,0 -0.27361,-17.00193 z m 17.92447,4.10359 c 3.19105,-2.69409 7.29484,-6.18159 9.11952,-7.75 l 3.3176,-2.85166 -3.36008,-3.24503 -3.36009,-3.24504 -4.92296,4.99811 -4.92295,4.99811 -5.28456,-5.21891 -5.28456,-5.21892 0.0256,8.46584 0.0256,8.46584 3.72438,2.71298 c 2.04842,1.49213 4.03853,2.72963 4.42248,2.75 0.38394,0.0204 3.30894,-2.16723 6.5,-4.86132 z m -36.81125,-17.94273 2.02301,-2.84106 -3.81306,-3.72337 c -3.32478,-3.24656 -4.33218,-3.68309 -7.86679,-3.40893 l -4.05372,0.31443 5.00575,6.25 c 2.75316,3.4375 5.38286,6.25 5.84377,6.25 0.46091,0 1.74838,-1.27848 2.86104,-2.84107 z m 13.67671,-2.73411 c 0.99505,-6.63544 -0.80949,-7.97654 -4.6083,-3.42482 l -2.92107,3.5 2.53868,2.25 c 1.39627,1.2375 2.93601,2.25 3.42164,2.25 0.48563,0 1.1917,-2.05883 1.56905,-4.57518 z m -6.56354,-4.92482 2.34862,-2.5 -5.34862,0 -5.34863,0 2.34863,2.5 c 1.29174,1.375 2.64174,2.5 3,2.5 0.35825,0 1.70825,-1.125 3,-2.5 z m 3,-6.5 c 0,-0.55 -1.28285,-1 -2.85078,-1 -1.56793,0 -4.15543,-0.428 -5.75,-0.9511 -1.59457,-0.52311 -4.81172,-1.44046 -7.14922,-2.03855 -2.3968,-0.61326 -4.25,-1.68347 -4.25,-2.45433 0,-1.078547 1.81167,-0.868447 8.58807,0.99593 7.73492,2.12809 14.40654,2.39332 14.41474,0.57305 0.006,-1.21461 2.03734,-18.663335 2.48907,-21.375008 l 0.45812,-2.75 -8.775,0 c -5.49167,0 -9.22401,0.449003 -9.975,1.2 -0.66,0.66 -1.2,3.585 -1.2,6.5 0,5.196811 -0.0572,5.3 -2.93665,5.3 -2.58218,0 -2.97446,-0.392275 -3.25,-3.25 l -0.31335,-3.25 -1.81201,2.66911 c -1.94366,2.863029 -2.95006,17.153448 -1.37898,19.580898 1.00993,1.56042 23.69099,1.79977 23.69099,0.25 z m -7.86888,-8.342017 c -1.52089,-1.832553 -0.28705,-2.811808 2.00036,-1.587623 1.25624,0.672322 2.50398,0.659907 3.80783,-0.03789 1.36998,-0.733192 2.14152,-0.710699 2.62811,0.07662 1.60522,2.597298 -6.35351,4.05851 -8.4363,1.548893 z m 8.01504,-13.268169 c -2.11106,-1.478641 -4.28627,-1.424497 -8.55326,0.212902 -1.00547,0.385833 -1.5929,0.077 -1.5929,-0.837448 0,-0.820043 1.70956,-1.960899 3.93958,-2.62903 3.39487,-1.017125 4.35355,-0.928584 6.93346,0.640356 1.83964,1.118752 2.7113,2.277906 2.26092,3.006632 -0.54608,0.88359 -1.30783,0.78329 -2.9878,-0.393412 z m -26.89888,7.108598 c 0.64843,-5.752829 3.09034,-9.49842 6.19244,-9.49842 1.31648,0 2.59845,0.5625 2.84882,1.25 0.25036,0.6875 0.79001,-0.448508 1.19921,-2.524461 1.12257,-5.695005 3.3768,-6.725539 14.7117,-6.725539 11.2015,0 12.03094,-0.57881 13.25319,-9.248457 l 0.66944,-4.748457 -2.62614,0.998457 c -1.44438,0.549151 -9.32568,0.998457 -17.51399,0.998457 -9.15787,0 -15.86697,0.446117 -17.43183,1.159116 -2.4743601,1.127393 -4.4841004,5.665076 -4.5799804,10.340884 -0.0226,1.1 -0.64831,3.096405 -1.39055,4.436456 -1.13762,2.053848 -1.13205,2.653946 0.0354,3.821429 0.93541,0.935409 1.38498,3.836038 1.38498,8.935988 0,6.284872 0.23001,7.360118 1.3717503,6.412563 0.75446,-0.626149 1.5984501,-3.149756 1.8755301,-5.608016 z m 0.19904,-21.24842 c 0.36473,-1.5125 1.39952,-3.3125 2.29954,-4 2.03175,-1.551999 26.25414,-1.782652 26.25414,-0.25 0,0.605607 -4.30608,1 -10.91822,1 -12.4219,0 -13.88472,0.351494 -15.13364,3.636385 -1.28348,3.375816 -3.3327301,3.059328 -2.50182,-0.386385 z m 93.553677,65.690148 0,-18.05986 5,-5.28676 c 6.0463,-6.39307 6.43792,-8.59352 1.52941,-8.59352 l -3.47059,0 0.6224,-14.410563 0.6224,-14.410556 -2.40181,-0.339444 c -2.16283,-0.30567 -2.39548,-0.81325 -2.33823,-5.101276 0.0787,-5.892722 2.47526,-9.431725 8.45685,-12.488169 3.91042,-1.998127 5.88462,-2.25 17.6357,-2.25 12.5423,0 13.37866,0.125744 16.03811,2.411299 l 2.80576,2.4113 0.31058,18.469757 0.31058,18.469756 -2.86074,0.997259 c -2.39501,0.83491 -3.06022,1.861417 -4.08597,6.305237 l -1.22523,5.30796 4.02539,4.10157 4.02539,4.10157 0,18.21215 0,18.21215 -22.5,0 -22.5,0 0,-18.05986 z m 17,0.15769 0,-14.90218 -2.92595,-1.01999 c -1.60927,-0.561 -3.69812,-2.19848 -4.64188,-3.63884 l -1.71594,-2.61886 -2.35812,2.21534 c -2.29072,2.15202 -2.35811,2.68187 -2.35811,18.54101 l 0,16.32569 7,0 7,0 0,-14.90217 z m -4,8.40217 c 0,-0.825 0.45,-1.5 1,-1.5 0.55,0 1,0.675 1,1.5 0,0.825 -0.45,1.5 -1,1.5 -0.55,0 -1,-0.675 -1,-1.5 z m 0,-6.5 c 0,-0.55 0.45,-1 1,-1 0.55,0 1,0.45 1,1 0,0.55 -0.45,1 -1,1 -0.55,0 -1,-0.45 -1,-1 z m 0,-7 c 0,-0.55 0.45,-1 1,-1 0.55,0 1,0.45 1,1 0,0.55 -0.45,1 -1,1 -0.55,0 -1,-0.45 -1,-1 z m 20,7 c 0,-8 0.38462,-13 1,-13 0.61538,0 1,5 1,13 l 0,13 3.5,0 3.5,0 0,-16.20239 0,-16.2024 -3.1485,-3.24842 -3.14849,-3.24842 -3.84393,3.29026 c -2.11416,1.80964 -5.64734,3.83057 -7.8515,4.49095 l -4.00758,1.2007 0,14.95986 0,14.95986 6.5,0 6.5,0 0,-13 z m -7.71788,-21.36198 c 1.76983,-0.7491 4.07512,-2.3241 5.12287,-3.5 l 1.90499,-2.13802 -10.65499,0 c -9.2897,0 -10.65499,0.21415 -10.65499,1.67126 0,4.85296 7.35918,6.89692 14.28212,3.96676 z m 10.48991,-12.63802 c 0.90554,-3.56754 0.81958,-4 -0.79503,-4 -0.99568,0 -1.96929,-0.47686 -2.16356,-1.059692 -0.21696,-0.650865 -3.55474,0.12074 -8.65156,2.000002 -4.56407,1.68283 -9.16762,3.05969 -10.2301,3.05969 -2.13124,0 -2.2027,0.13043 -1.32479,2.41821 0.50151,1.30692 2.47877,1.58179 11.37836,1.58179 l 10.77137,0 1.01531,-4 z m -10.95679,-6.049617 7.98611,-3.049606 -0.46136,-6.200392 c -0.71751,-9.642829 -1.15219,-11.101143 -2.88119,-9.666199 -0.8116,0.673565 -1.4588,2.902109 -1.4588,5.023151 0,5.88764 -1.57855,9.141681 -4.25048,8.761995 -1.79561,-0.25516 -2.41342,-1.22374 -3.07402,-4.81934 -0.45472,-2.475 -1.02488,-5.506808 -1.26701,-6.73735 -0.54731,-2.781448 -3.7598,-4.851611 -8.65849,-5.579614 -3.4531,-0.513172 -3.75,-0.365848 -3.75,1.860783 0,1.756334 0.69608,2.592782 2.54355,3.056468 3.31677,0.832456 2.57768,2.995809 -0.8808,2.578147 l -2.66275,-0.321565 0,7.258657 0,7.258656 2.89031,-2.769088 c 1.58966,-1.522999 3.15853,-2.335082 3.48637,-1.804629 0.79196,1.281417 -3.13431,6.199541 -4.94926,6.199541 -0.78508,0 -1.42742,0.450002 -1.42742,1.000002 0,2.18222 10.81971,1.00359 18.81524,-2.049617 z m 14.61966,-1.92564 2.5651,-0.975249 0,-16.69601 c 0,-14.132489 -0.25411,-16.976797 -1.65499,-18.524751 -1.45255,-1.605057 -3.36015,-1.828741 -15.59571,-1.828741 -15.21064,0 -18.06056,0.799571 -20.97787,5.885541 -2.26679,3.951876 -3.15185,8.407825 -1.56505,7.879465 0.71149,-0.236906 1.45866,-1.293449 1.66038,-2.347872 0.544,-2.84359 4.05955,-7.417134 5.70133,-7.417134 2.00037,0 1.80395,0.769149 -1.06809,4.182369 -2.41726,2.872747 -3.53359,7.574457 -1.5,6.317631 0.55,-0.339919 1,-1.196732 1,-1.904029 0,-0.707298 0.97065,-2.14324 2.15699,-3.190983 2.12665,-1.878186 2.14935,-1.876849 1.61346,0.09501 -0.29895,1.1 -0.85721,2.760053 -1.24058,3.689007 -0.55482,1.3444 0.0278,1.82499 2.85568,2.355501 6.11642,1.147447 9.61445,6.270368 9.61445,14.080494 0,4.676112 1.7314,2.266404 2.29497,-3.194067 0.65605,-6.356477 1.95532,-8.430933 5.28047,-8.430933 2.9601,0 4.41108,4.678986 4.41898,14.25 0.006,7.047348 0.25183,7.367271 4.44048,5.774751 z M 116.68749,50.854374 c -0.61718,-0.386008 -2.01666,-3.626832 -3.10997,-7.201832 l -1.98783,-6.5 -11.871117,-0.511015 c -7.05781,-0.303817 -12.81773,-1.046015 -14.20577,-1.830492 -3.62781,-2.050322 -5.16578,-7.078867 -5.16161,-16.876374 0.004,-9.8379151 1.89304,-14.5319765 6.56182,-16.3070443 1.41056,-0.5362908 12.6827,-0.97507427 25.049207,-0.97507427 30.56012,0 30.38524,-0.102779 30.38524,17.85753257 0,10.363282 -0.14742,11.164211 -2.58889,14.065742 -1.4239,1.692199 -3.27888,3.076725 -4.12219,3.076725 -0.84331,0 -5.19932,3.578324 -9.68003,7.951832 -4.7344,4.621134 -8.61675,7.657863 -9.26886,7.25 z m 16.97894,-17.201832 c 0.97457,0 2.87648,-1.104545 4.22648,-2.454545 2.27584,-2.275836 2.45455,-3.176114 2.45455,-12.365142 0,-8.512086 -0.29247,-10.2824071 -2.07258,-12.5454539 l -2.07258,-2.6348587 -24.11297,0 c -30.179187,0 -28.741867,-0.7361001 -28.741867,14.7197686 0,9.678001 0.16404,10.535186 2.45454,12.825686 2.33157,2.331572 3.05189,2.454545 14.377557,2.454545 8.37544,0 12.19989,0.371925 12.85358,1.25 0.51181,0.6875 1.73373,3.897202 2.71536,7.132672 l 1.7848,5.882671 7.1806,-7.132671 c 3.94932,-3.92297 7.97796,-7.132672 8.95253,-7.132672 z M 95.014123,24.985875 c -1.94098,-1.940979 0.8055,-2.333333 16.333337,-2.333333 14.44444,0 17,0.22549 17,1.5 0,1.272109 -2.48148,1.5 -16.33333,1.5 -8.98334,0 -16.633337,-0.3 -17.000007,-0.666667 z m -0.41766,-11.583333 c 0.30537,-0.918317 4.83837,-1.322752 17.083327,-1.524179 14.38648,-0.236654 16.66767,-0.06558 16.66767,1.25 0,1.306092 -2.44437,1.524179 -17.08333,1.524179 -13.221697,0 -16.989377,-0.282559 -16.667667,-1.25 z m -67.77254,30.147883 c -3.28706,-3.364796 -7.3356,-6.706177 -8.99677,-7.425293 -5.68431,-2.460727 -6.94539,-4.86468 -7.32787,-13.968838 -0.39688,-9.446779 1.27218,-14.4646477 5.44342,-16.3651942 1.6094,-0.7332919 9.8064,-1.1385574 23.02873,-1.1385574 l 20.52987,0 2.92308,2.9230769 c 2.84185,2.8418487 2.92308,3.2015507 2.92308,12.9442357 0,9.14866 -0.20995,10.265446 -2.41138,12.826923 -2.3277,2.708398 -2.79043,2.817357 -13.33436,3.139843 l -10.92297,0.334079 -1.94925,6.093787 c -1.07208,3.351584 -2.39472,6.242279 -2.93918,6.423768 -0.54447,0.181489 -3.67935,-2.423035 -6.9664,-5.78783 z m 8.20347,-3.647883 1.82007,-5.75 11.20283,-0.28231 c 10.72044,-0.270154 11.29099,-0.394376 13.25,-2.884859 3.56144,-4.527632 2.64003,-19.901611 -1.35254,-22.5675181 -0.60516,-0.4040777 -10.43779,-0.7415777 -21.85029,-0.7499997 -25.64557,-0.018926 -24.75,-0.4887693 -24.75,12.9846868 0,7.666667 0.29629,9.296296 2,11 1.1,1.1 2.57658,2 3.2813,2 0.70472,0 3.95313,2.7 7.2187,6 3.26556,3.3 6.25745,6 6.64863,6 0.39118,0 1.53026,-2.5875 2.5313,-5.75 z m -11.67993,-14.75 c 0,-1.266667 2.33333,-1.5 15,-1.5 12.66666,0 15,0.233333 15,1.5 0,1.266667 -2.33334,1.5 -15,1.5 -12.66667,0 -15,-0.233333 -15,-1.5 z m 0,-9 c 0,-1.266667 2.33333,-1.5 15,-1.5 12.66666,0 15,0.233333 15,1.5 0,1.266667 -2.33334,1.5 -15,1.5 -12.66667,0 -15,-0.233333 -15,-1.5 z" id="path3388" inkscape:connector-curvature="0")
								img.bg-tril(src="../images/card-decor-white.png")
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							.card__wrapper.col-xs-6.col-md-12
								h2.card__name Нейтворкинг
								p.card_text Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.
			section.speekers
				a.bookmark(name="speekers")
				.container
					h1.speekers__title Наши Спикеры
					.speekers__card.col-lg-3.col-xs-6
						.speekers__card__wrapper(data-title="Константинопольский Николай InWeb")
							.card__decoration
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							img.card__photo(alt="Фото спикера-1" src="images/speeker-1.jpg")
							h3.card__name Константинопольский Николай
							p.card_text Inweb
					.speekers__card.col-lg-3.col-xs-6
						.speekers__card__wrapper(data-title="Константинопольский Николай WebPromoExperts")
							.card__decoration
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							img.card__photo(alt="Фото спикера-2" src="images/speeker-2.jpg")
							h3.card__name Константинопольский Николай
							p.card_text WebPromoExperts
					.speekers__card.col-lg-3.col-xs-6
						.speekers__card__wrapper(data-title="Константинопольский Николай Coral Travel Ukraine")
							.card__decoration
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							img.card__photo( alt="Фото спикера-3"  src="images/speeker-3.jpg")
							h3.card__name Константинопольский Николай
							p.card_text Coral Travel Ukraine
					.speekers__card.col-lg-3.col-xs-6
						.speekers__card__wrapper(data-title="Константинопольский Николай Яндекс Украина")
							.card__decoration
								i.tri-left.figure-1
									svg.desc-svg.middle-card-anim(height="69" width="69")
										polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
								i.tri-top.figure-2
									svg.big-card-anim(height='140', width='140')
										defs
											filter#f3(x='0', y='0', width='200%', height='200%')
												feoffset(result='offOut', in='SourceAlpha', dx='20', dy='20')
												fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
												feblend(in='SourceGraphic', in2='blurOut', mode='normal')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4')
										polygon(points='7,7 100,35 40,100', style='fill:none;stroke:orange;stroke-width:4', filter='url(#f3)')
								i.tri-right.figure-3
									svg.desc-svg.little-card-anim(height="60" width="60")
										polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
							img.card__photo(alt="Фото спикера-4"   src="images/speeker-4.jpg")
							h3.card__name Константинопольский Николай
							p.card_text Яндекс Украина
			section.another-speekers
				.container
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img(alt="Фото спикера-6" src="images/speeker-5.jpg")
							h4.card__name Константинопольский Николай
							p.card_text Inweb
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img(alt="Фото спикера-7"  src="images/speeker-5.jpg")
							h4.card__name  Константинопольский Николай
							p.card_text Inweb
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img(alt="Фото спикера"  src="images/speeker-5.jpg")
							h4.card__name Константинопольский Николай
							p.card_text Inweb
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img( alt="Фото спикера" src="images/speeker-5.jpg")
							h4.card__name Константинопольский Николай
							p.card_text Inweb
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img(alt="Фото спикера" src="images/speeker-5.jpg")
							h4.card__name Константинопольский Николай
							p.card_text Inweb
					.another-speekers__card.col-lg-2.col-xs-4
						.another-speekers__card__wrapper
							img.card__img(alt="Фото спикера" src="images/speeker-5.jpg")
							h4.card__name  Константинопольский Николай
							p.card_text Inweb
			section.price
				.container
					.row
						h1.price__title Цена
						.col-lg-12.col-xs-12
							.price__wrapper.clearfix
								.price__item.price__item--active.noise.col-lg-6.col-xs-6
									span.price__text Актуальная цена
									.number__wrapper
										span.price__number 1700
										span.price__value грн
									button.btn.btn-straight 
										span.btn__text-straight Купить Сейчас
								.price__item.price__item--passive.noise.col-lg-6.col-xs-6
									span.price__text цена через <span class="price__text-red">32</span> дня
									.number__wrapper
										span.price__number 4200
										span.price__value грн
									button.btn.btn-straight-psv
										span.btn__text-straight Купить Потом
			section.offer
				.offer__background
					.container
						.row
							.offer__content__wrapper.col-lg-8.col-xs-9
								h2.offer__question Хотите узнать, как большие данные и машинное обучение уже приносят пользу бизнесу?
								span.offer__subquestion Мы собрали 10 самых интересных кейсов об этом.
						.row
							button.btn.btn__btn-start_centered
								span.btn__text Узнать
			section.stage
				a.bookmark(name="timetable")
				.container
					.row
						.b-stage__wrapper.col-lg-5.col-xs-12.col-sm-12
							.b-stage__description_orange
								.card__decoration
									i.tri-left.figure-1
										svg.desc-svg(height="69" width="69")
											polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
									i.tri-top.figure-2
										svg.desc-svg(height="110" width="110")
											filter(id="f1" x="0" y="0")
												feGaussianBlur(in="SourceGraphic" stdDeviation="2")
											polygon(points="7,7 100,35 40,100" style="fill:none;stroke:orange;stroke-width:4" filter="url(#f1)")
											polygon(points="7,7 100,35 40,100" style="fill:none;stroke:orange;stroke-width:4" filter="url(#f1)")
									i.tri-right.figure-3
										svg.desc-svg(height="60" width="60")
											polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
								h2.b_stage__title Business stage
								p.b_stage__text Поток для менеджеров, владельцев бизнеса и маркетологов, где делятся идеями и кейсами, как применять большие данные и машинное обучение в бизнесе.
							.b-stage__timetable.clearfix
								.timetable
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, 
										span.advice Value Based Pricing: как определить цену на свой SaaS продукт
								.timetable
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, 
										span.advice Value Based Pricing: как определить цену на свой SaaS продукт 
								.timetable
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.timetable__report-last.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, 
						.b-stage__wrapper.col-lg-5.col-lg-offset-2.col-xs-12.col-sm-6
							.b-stage__description_blue
								.card__decoration
									i.tri-left#figure-1
										svg.desc-svg(height="69" width="69")
											polygon(points="7,7 66,25 30,66" style="fill:none;stroke:orange;stroke-width:4")
									i.tri-top#figure-2
										svg.desc-svg(height="110" width="110")
											filter(id="f1" x="0" y="0")
												feGaussianBlur(in="SourceGraphic" stdDeviation="2")
											polygon(points="7,7 100,35 40,100" style="fill:none;stroke:orange;stroke-width:4" filter="url(#f1)")
											polygon(points="7,7 100,35 40,100" style="fill:none;stroke:orange;stroke-width:4" filter="url(#f1)")
									i.tri-right#figure-3
										svg.desc-svg(height="60" width="60")
											polygon(points="7,7 57,20 25,57" style="fill:none;stroke:orange;stroke-width:4")
								h2.b_stage__title Business stage
								p.b_stage__text Поток для разработчиков и ученых, которые создают новые технологии.
							.b-stage__timetable.clearfix
								.timetable
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.timetable__reporte-list_blue.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, 
										span.advice Value Based Pricing: как определить цену на свой SaaS продукт
								.timetable_1
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.timetable__reporte-list_blue.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, 
										span.advice Value Based Pricing: как определить цену на свой SaaS продукт 
								.timetable_1
									.timetable__time-list.col-lg-2.col-xs-3
										span.oclock 9:00
									.timetable__reporte-list.timetable__reporte-list_blue.col-lg-10.col-xs-9
										span.reporter Сергей Добрый, ection.price
			section.price
				.container
					.row
						h1.price__title Цена
						.col-lg-12.col-xs-12
							.price__wrapper.clearfix
								.price__item.price__item--active.noise.col-lg-6.col-xs-6
									span.price__text Актуальная цена
									.number__wrapper
										span.price__number 1700
										span.price__value грн
									button.btn.btn-straight 
										span.btn__text-straight Купить Сейчас
								.price__item.price__item--passive.noise.col-lg-6.col-xs-6
									span.price__text цена через <span class="price__text-red">32</span> дня
									.number__wrapper
										span.price__number 4200
										span.price__value грн
									button.btn.btn-straight-psv
										span.btn__text-straight Купить Потом
			section.sponsors
				.container
					h1.sponsors__title Спонсоры
					ul.sponsors__list.clearfix
						li.sponsors__item
							img(src="images/partners-1.jpg")
						li.sponsors__item
							img(src="images/partners-2.jpg")
						li.sponsors__item
							img(src="images/partners-3.jpg")
						li.sponsors__item
							img(src="images/partners-1.jpg")
			section.partners
				.container
					h1.partners__title Партнеры
					ul.partners__list.partners__list-main.clearfix
						li.partners__item
							img(src="images/partners-1.jpg")
						li.partners__item
							img(src="images/partners-2.jpg")
						li.partners__item
							img(src="images/partners-3.jpg")
						li.partners__item
							img(src="images/partners-1.jpg")
					ul.partners__list.clearfix
						li.partners__item
							img(src="images/partners-1.jpg")
						li.partners__item
							img(src="images/partners-2.jpg")
						li.partners__item
							img(src="images/partners-3.jpg")
						li.partners__item
							img(src="images/partners-1.jpg")
			section.subscribe.noise
				.container
					.subscribe__text.col-lg-3.col-sm-3.col-xs-12
						span Быть в кусре всего что здесь происходит 
					.subscribe__form.col-lg-8.col-lg-offset-1.col-sm-9.col-xs-12
						form.form
							input(type="email" placeholder="Введите вашу почту").form__email.col-sm-8.col-xs-12
							button.form__btn.btn-submit.col-xs-4
								span.btn-submit__text Подписаться
			section#map
				.w3-grayscale#googleMap(style="width:100%;height:392px;")
			footer
				.container
					.footer__wrapper.clearfix
						img.footer-img(src="../images/blue-string-footer.png")
						.footer__organisation.col-lg-3.col-xs-5
							h3.organisation__text_block Организатор<br>конференции:
							img.organisation__img(src="images/triangular-logo.png")
							span.organisation__text Data-Driven Digital<br> Agency Septa.
						.footer__aside
							.footer__socials
								ul.socials__list.clearfix
									li.socials__item
										a(href="javascript:void").socials_icon.icon-vk
									li.socials__item
										a(href="javascript:void").socials_icon.icon-facebook
									li.socials__item
										a(href="javascript:void").socials_icon.icon-behance
							.copyright
								span Copyright &copy; 2016. All rights reserved.
	script(src="scripts/jquery.min.js")
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src="scripts/jqfloat.js")
	script(src='scripts/main.js')
	script(src='scripts/jquery.countdown.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRlxlXWWQpFiA9BnSVIk_be63Dnm0FAik&callback=initMap")
	script(src="scripts/html5shiv.min.js")

